In [7]:
import pandas as pd
import numpy as np
data={'Name':['Danny','Damny','Monny','Quony','Dimny','Danny'],
      'Email':['danny@gmail.com','danny@gmail.com','monny@gmail.com','quony@gmail.com','danny@gmail.com','danny@gmail.com'],
     'IBAN':['NLAMRO123456789','NLINGB126656723','BGFFEO128856754','NLAMRO123896763','DUDMRO567456722','NLRABO123456712']}
#creation of dataframe

df=pd.DataFrame(data)

df.head()

    Name            Email             IBAN
0  Danny  danny@gmail.com  NLAMRO123456789
1  Damny  danny@gmail.com  NLINGB126656723
2  Monny  monny@gmail.com  BGFFEO128856754
3  Quony  quony@gmail.com  NLAMRO123896763
4  Dimny  danny@gmail.com  DUDMRO567456722

# How to find repeated column values

https://stackoverflow.com/questions/74186093/is-there-better-way-to-iterate-over-nested-loop-for-rows-30000

In [8]:
df['email_repeated'] = np.where(df.duplicated("Email", keep=False), "ja", '')

# How to set value in a column based on the cell value in another column

https://stackoverflow.com/questions/74204839/how-to-use-regex-as-an-alternative-to-nested-loop-with-re-search-in-pandas

In [9]:
# to find rows, which contain non dutch bank numbers.
df['No Dutch Bank']=''
df.loc[df['IBAN'].str.find('NL') == -1, 'No Dutch Bank']='ja'

# How to compare a main dataframe with controle dataframe

https://stackoverflow.com/questions/74196699/is-there-better-way-to-compare-a-main-dataframe-with-controle-dataframe-for-rows

In [10]:
data1={'Name':['Danny','Monny','Quony'],
      'Email':['danny@gmail.com','sonny@gmail.com','ponny@gmail.com']}
df_controle=pd.DataFrame(data1)
df["email_found_in_control_list"] = list(map(lambda x: "ja" if x else "", np.in1d(df.Email, df_controle.Email)))
df.head()

,Name,Email,IBAN,email_repeated,No Dutch Bank,email_found_in_control_list
0,Danny,danny@gmail.com,NLAMRO123456789,ja,,ja
1,Damny,danny@gmail.com,NLINGB126656723,ja,,ja
2,Monny,monny@gmail.com,BGFFEO128856754,,ja,
3,Quony,quony@gmail.com,NLAMRO123896763,,,
4,Dimny,danny@gmail.com,DUDMRO567456722,ja,ja,ja

# How to use duplicated, sort values, and pivot table to group the data w.r.t. cell value and keep the cell value that have occurred more than one time

https://stackoverflow.com/questions/74208560/how-to-use-duplicated-sort-values-and-pivot-table-to-group-the-data-w-r-t-cel

In [11]:
#filtering which columns needed in the final results
df_filt=df[['Name',"Email", "IBAN"]]

# count names
df_name = df_filt.groupby('Name')['Email'].count()

# get names with count > 1
df_name = df_name[df_name > 1].reset_index()

# merge filtered names back to original df to get filtered df
df_gb = pd.merge(df_name['Name'], df_filt, on=['Name'], how='left')

# sorting etc.
df_gb = df_gb.sort_values(by='Name', ascending=False).reset_index(drop=True)

In [12]:
#applying pivot table
piv_tab = pd.pivot_table(df_gb, index=['Name',"Email", "IBAN"])
piv_tab

Empty DataFrame
Columns: []
Index: [(Danny, danny@gmail.com, NLAMRO123456789), (Danny, danny@gmail.com, NLRABO123456712)]